<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Mi pagina web</title>




</head>


<body>

	<CENTER><h1>HOLA ESTE ES MI NUEVO SITIO WEB</h1></CENTER>

	<H1>Bienvenido</H1>

<form action="">

		
<label>Numero1</label>	<input type="text" name="" v-model="num" id="num1">
<br> <br>
<label>Numero2</label>  <input type="text" name="" v-model="num2" id="num2">

<br><br>

	<center><button value="sumar" onclick="document.write(suma());">Calcular</button></center>

	<br>	


</form>


<!--<script  >
	// document.write("<p>los articulos son</p>");

	// document.write(articulos[0] );
	//     document.write("<br>");	
	// document.write(articulos[1] );
	// 	document.write("<br>");	
	// document.write(articulos[2] );
	//     document.write("<br>");	
	// document.write(num + num2);

	// alert(articulos.length);


	var nombre=["juan","Diegos",];
  //      for (var cont=0; cont<= articulos.length; cont++ ) {
		// 	document.write(articulos[1]);
			
		// }


	for (var i =0; i <=nombre.length -1; ) {
		document.write(nombre[0] );
		

	}


    var inprimir=true;

	if ( inprimir ==false) {


		
		document.write("<p>Desde que las infografías surgieron en el mundo del diseño gráfico, (hace más o menos diez años), se convirtieron en un recurso de comunicación indispensable en las aulas, en el trabajo y en la web.</p>");
		// document.write("<img src="descarga.png">");
		// print();
	}
	else{
		alert("El archivo no se encuetra disponible");

	}
</script>-->



<script type="text/javascript" src="curso.js"></script>

</body>
</html>